<!-- <body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98"> -->
<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="full">
                   <h3>About us</h3>
               </div>
            </div>
        </div>
    </div>
  </section>

  <!-- section -->
  <div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>Mission</span></h2>
                    </div>
                    <div class="full">
                      <p>At Talent Centric, we think that your education provider should be an expert. 
                          And that your qualification should be world-class. 
                          We offer accredited Higher Education qualifications, including our state-of-the-art Postgraduate Diploma in Management, a range of Degrees, and numerous Diplomas and Higher Certificates. 
                          And we offer a variety of work-ready Occupational and Short Programmes which meet industry needs and are developed by industry specialists and leading professionals in their fields. 
                          We know you’ll face challenges when studying, and we believe personalised attention is critical to your success. 
                          So we use a proactive monitoring and mentoring system, designed to support your learning. 
                          And you have a Student Advisor and Online Educators to help you, every step of the way.
                    </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="./../../assets/images/img2.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- start section -->
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>Values</span></h2>
                    </div>
                    <div class="full">
                      <li>Talent Centric aims to establish a value-driven
                        organisational culture that empowers the Institution and 
                        its people to achieve institutional goals.<br>
                        The guiding values are Respect, Excellence, Accountability,
							Client Orientation, Honesty, and Trust – represented as 
							R.E.A.C.H.T 
							The behaviour and actions of everyone at Talent Centric
							will, accordingly, demonstrate:
                        </li>
                        <ol>
                            <b>Respect</b>: Talent Centric undertakes to promote mutual
							respect, courtesy, and inclusiveness.
                        </ol>
                        <ol>
                            <b>Excellence</b>: Talent Centric undertakes to display
							quality, leadership and energy in all that it does.
                        </ol>
                        <ol>
                            <b>Accountability</b>: Talent Centric promises to be 
							responsible and accountable in the behaviour displayed towards all its stakeholders.
                        </ol>
                        <ol>
                            <b>Honesty</b>: Talent Centric promises to deliver with integrity – steadfastly and with adherence to good governance.
                        </ol>
                        <ol>
                            <b>TrustT</b>: T The ‘T’ symbol after reacht refers to the principle of ‘trust’ that underpins all of the other institutional values. 
							The implicit trust enjoyed by every member of Talent Centric and their well-defined actions that embrace the R.E.A.C.H.T values, are the important ingredients of the moral fibre of the Institution.
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="./../../assets/images/img6.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- start section -->
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>Goals</span></h2>
                    </div>
                    <div class="full">
                        <p>
                            To achieve excellence in teaching and learning.

                            To achieve excellence and high impact in research, innovation and entrepreneurship
                                To Promote high-impact societal and stakeholder Community engagement
                                Targeted Internationalisation
                                Institution of Choice for Learners: To establish the College as an institution of choice that values students in all their diversity and has a student-centred ethos, 
                                providing students with curricula, teachers, infrastructure and support services designed around their needs and producing well-educated, 
                                competent, sought-after graduates. Institution of Choice for Staff: 
                                To establish the University as an institution of choice that attracts and retains academic and support staff of the highest calibre by creating an 
                                intellectual environment that fosters and stimulates academic life, and a climate of organisational 
                                citizenship in which all staff recognise and understand their role in ensuring the success of the University. Efficient and Effective Management: To establish and maintain efficient, effective 
                                management systems and processes that provide a caring and responsive service to meet internal and external needs in a pragmatic and flexible manner. 
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="./../../assets/images/img7.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </body> -->