     <hr>
            
            <h1>Study Materials</h1>
            <hr>
            <h2>PROGRAMMING</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Programming Tutorial pdf Files</th>
                      <th scope="col">Tutorial videos</th>
                    </tr>
                </thead>
            <tbody >
                <tr>
                  

                  <td><a href="assets\files\java_tutorial.pdf"> java_tutorial.pdf</a><br><p>Java is a high-level programming language originally developed by Sun Microsystems and
                    released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the
                    various versions of UNIX. This tutorial gives a complete understanding of Java.
                    This reference will take you through simple and practical approaches while learning Java
                    Programming language.</p></td>
                  <td>  <video width="400" controls="controls" >
                    <source src="assets\videos\javaintro.mp4" video="web/mp4">
                </video></td>
                
                  <td></td>
                
      
                </tr>
               
              </tbody>
            </table>
            
            <hr>

            <h2>Accounting </h2>
          
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Accounting Tutorial pdf Files</th>
                      <th scope="col">Tutorial videos</th>
                    </tr>
                </thead>
            <tbody >
                <tr>
                  

                  <td><a href="assets\files\Accounting_book.pdf"> Accounting_book.pdf</a><br><p>The aim of this book is to help students master financial accounting and
                    cost accounting offered in introductory accounting courses for commerce or
                    management programmes. Accounting for All is especially useful for students
                    to whom financial accounting and cost accounting are not a major subject.
                    The second edition has been updated to include two new topics, namely,
                    partnerships and non-profit organisations (NPOs).
                    The content is written in an easy-to-understand manner and therefore
                    enables students to work through each chapter on their own. The teaching
                    methodology takes a step-by-step approach and is supported by extensive
                    explanatory examples.</p></td>
                  <td>  <video width="400" controls="controls">
                    <source src="assets\videos\accintro.mp4" video="web/mp4">
                </video></td>
                
                  <td></td>
                
      
                </tr>
               
              </tbody>
            </table>
            <h2>Micosoft Office</h2>



            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Microsoft Tutorial pdf Files</th>
                      <th scope="col">Tutorial videos</th>
                    </tr>
                </thead>
            <tbody >
                <tr>
                  

                  <td><a href="assets\files\Microsoft_tutorial.pdf"> Microsoft_tutorial.pdf</a><br><p>The aim of this book is to help students master financial accounting and
                    cost accounting offered in introductory accounting courses for commerce or
                    management programmes. Accounting for All is especially useful for students
                    to whom financial accounting and cost accounting are not a major subject.
                    The second edition has been updated to include two new topics, namely,
                    partnerships and non-profit organisations (NPOs).
                    The content is written in an easy-to-understand manner and therefore
                    enables students to work through each chapter on their own. The teaching
                    methodology takes a step-by-step approach and is supported by extensive
                    explanatory examples.</p></td>
                  <td>  <video width="400" controls="controls" >
                    <source src="assets\videos\microintro.mp4" video="web/mp4">
                </video></td>
                
                  <td></td>
                
      
                </tr>
               
              </tbody>
            </table>
            <video width="400" controls="controls" poster="logo2.png">
                <source src="assets\videos\microintro.mp4" video="web/mp4">
            </video>
            <hr>

            <h2>Graphic Design Videos</h2>
            <video width="400" controls="controls" poster="logo2.png">
                <source src="assets\videos\graphicintro.mp4" video="web/mp4">
            </video>
            <hr>

            <h2>
               Question Papers and  Memoradums
            </h2>

           <!-- <div class="documents">
                <embed src="DevelopersAssessment.pdf" type="DevelopersAssessment.pdf" width="100%" height="600px"/>
            </div> -->

            
           
           


        <hr>
        <div class="container">
                
                    
                        
            <!-- <li><a routerLink="/login" routerLinkActive=
                "">Login</a></li> -->
            &nbsp;
            <!-- <li><a routerLink="/register" routerLinkActive=
                "">Register</a></li> -->

                &nbsp;
                <li><button [routerLink]="'/home'" class="reg_btn"> Logout</button></li>
        




</div>

<footer>
    <p> &copy; all rights reserved</p>
    <p>Tell : 012 548 7823</p>
    <p>Email: weTutor@gmail.com</p>
</footer>


