   
<br>
<br>

        <div class="homeform">
            
            <img src="assets\pictures\img1.png">

            <hr>

            
            <h1>Welcome Admin</h1>
            
            <form>
            
                <button [routerLink]="'/update-content'" class="btn btn-info"> Edit Content</button>
                <br>
                <button [routerLink]="'/students'" class="btn btn-info"> View Registered</button>
             

            </form>

            <hr>
           <p> &copy; all rights reserved</p>

        </div>

