

    <hr>
    <h2>
        Students who are currently Registered
     </h2>
     <br><br>
    <table class="table table-warning table-striped">
        <thead style="background-color: rgb(42, 165, 114);">
          <tr>
            <th scope="col">Student number</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">subject</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="background-color: rgb(95, 145, 160)" >
          <tr *ngFor="let student of students">
            
            <td>{{student.studentno}}</td>
            <td>{{student.fname}}</td>
            <td>{{student.surname}}</td>
            <td>{{student.subject}}</td>
            <td><button (click) = "deleteStud(student.studentno);" class="btn btn-danger" type="button" [routerLink]="'/students'">DELETE RECORD</button></td>

          </tr>
         
        </tbody>
      </table>



